html {
  scroll-behavior: smooth;

}
body {
  height:100vh;
  font-size: 1em;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  height: 100%;
  font-family: 'Inria Serif', sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333;
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}
#myNumber{
  padding-left:  5px;
  padding-top: 0.5125em;  
  line-height: 0;
  font-family: 'FontAwesome';
}
.showcase {
  background: rgba(13, 110, 100, 0.75);
  color: #fff;
  height: 100vh;
  position: relative;
}
/*File*/
.showcase:before {
  content: "";
  background: url("../img/earth.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.materials:before{
  content: "";
  background: url("../img/materials.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.plants:before{
  content: "";
  background: url("../img/plants.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.animal:before{
  content: "";
  background: url("../img/panda.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/*/File*/


.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}
.showcase p {
  font-size: 1.3rem;
}
.ready-right{
  margin: 1em;
}
.btn {
  display: inline-block;
  border: none;
  background: rgba(13, 110, 100, 0.75);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.7;
}
.spectators{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.3125em 5em 0 0;  
}
/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 4em;
  height: 4em;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 4em;
  height: 4em;
  padding: 1rem;
  background: rgba(24, 39, 51, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}
/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 0.15em;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 0.15em;
  background: inherit;
}
.menu-wrap .hamburger > div::after {
  top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: rgba(13, 110, 139, 0.75);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: rgba(24, 39, 51, 0.85);
  border-radius: 50%;
  width: 500vw;
  height: 500vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}





/*Content*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.title-content{
  text-align: center;
  font-size: 2.5em;
}
.text-center {
  text-align: center;
}

/*Gallery*/
.grid {
  display: grid;
}
.portfolio-section {
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75em;
}

.portfolio-item {
  min-height: 30vh;
  background-size: cover;
  background-position: center;
  text-align: center;

  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding:1em;
  font-weight: 700;
  color: #fff;
  position: relative;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  cursor: pointer;
}
.portfolio-item:hover {
  color: #f0650d;
}
.portfolio-item:hover::before {
  opacity: 0.85;
}
.portfolio-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293a43;
  opacity: 0.65;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.portfolio-item > * {
  z-index: 1;
}
.portfolio-item:nth-child(1) {
  grid-column: 1/3;
}
.portfolio-item:nth-child(5) {
  grid-column: 2/4;
}
.portfolio-item:nth-child(6) {
  grid-column: 4;
  grid-row: 2/4;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;
}

.landing-section {
  padding: 3.75em 0;
}
.landing-section h2 {
  font-size: 1.75em;
  font-weight: 800;
  color: #293a43;
}
.section-ready {
  background-color: #ededed;
}
.section-ready .container {
  grid-template-columns: 1fr 1fr;
}
.ready-left {
  border-right: 1px solid #dadada;
  font-size: 18px;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
}
.ready-left h2 {
  margin-bottom: 1em;
}


.blog-home {
  grid-gap: 0.75em;
  grid-template-columns: repeat(4, 1fr);
}
.blog-item {
  background-color: #f7f7f7;
  text-decoration: none;
  grid-template-rows: 1fr 1fr;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  overflow: hidden;
  color: #333;
}

.blog-item:nth-child(3) {
  grid-column: 3/5;
}
.blog-item:nth-child(4) {
  grid-column: 1/3;
}
 .blog-item:hover {
  background-color: #ededed;
}
.blog-item:hover h4 {
  color: #293a43;
}
.blog-item:hover .blog-item-img {
  -webkit-transform: scale(1.05) translateY(-6.5px);
  -ms-transform: scale(1.05) translateY(-6.5px);
  transform: scale(1.05) translateY(-6.5px);
}
.blog-item-img {
  height: 270px;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.blog-item-content {
  padding-top: 1em;
  padding-right: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 1.25em;
  text-align: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
}
.blog-item-content h4 {
  font-size: 1.20em;
  color: #666;
  line-height: 1.3;
  margin: 0;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
.blog-item-content p {
  margin-top: 1.25em;
  margin-bottom: 0;
}


input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.75em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 0.24em;
  resize: vertical;
}
input[type="Email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: #4caf50 solid 1px;
  padding: 13px 20px;
  border-radius: 50% 20% / 10% 40%;
  cursor: pointer;
  float: right;
  transform: color, border-radius;
  transition: 0.5s;
}
input[type="submit"]:hover {
  background-color: #fff;
  color: #4caf50;
  border: #4caf50 solid 1px;
  border-radius: 10px; 
}
.cont {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: grid;
  clear: both;
}
footer{
  background: rgba(24, 39, 51, 0.85);
  margin: 0;
  position: absolute;
  width: 100%;
}

.contect {
  padding: 0.75em 0px 1.25em 0;
  font-size: 1.50em;
}



.link:after{
   margin: 0;
  transform: rotate(20deg) translateX(-1.5em) translateY(-0.2em);
  opacity: 0;
  content: '\f061';
  font-family: 'FontAwesome';
  display: inline-block;
}
.link:hover:after{
  transition: opacity .25s, transform .5s;
  transform: rotate(0) translateX(0.5em) translateY(0);
  opacity: 1;
}

div.about_up {
 padding-left:  10%;
}

.about_up p {
  color: #fff;
}

.footer_link ul li {
 list-style: none;
 font-size: 16px;
}
.footer_conteiner{
  margin: 0.5em;
  display: grid;
  grid-template-columns: 45% 25% 25%;
  grid-gap: 0.75em;
}
.footer_conteiner h4{
  color: #fff;
  padding-top: 0.75em;
  font-size: 1.50em;
   font-family: intro-grid, sans-serif;
}
.footer_conteiner h5{
  color: #e9edf5;
  font-size: 1em;
   font-family: intro-grid, sans-serif;
}
.footer_conteiner  a{
 color: #bdc1c9;
  text-decoration: none;
}
.cont-prof{
    background: #808080;
  color: #fff;
  text-align: center;
  padding: 15px 0; 
}
.img_footer{
  width: 1.5em;
  height: 1.5em;
}
.social-buttons li {
  display: inline-block;
  margin-right: 0.4em;
}
.av_prav{
  font-size:16px;
}
.social-buttons li:last-child {
  margin: 0;
}
.social-buttons a {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 1.75em;
  line-height: 1.75em;
  text-align: center;
  width: 1.75em;
}

.social-buttons a:hover {
  background-color: #fff;
}

.social-buttons__vk {
  background-color: #45688e;
  transform: color;
  transition: 0.5s;
}

.social-buttons__vk:hover {
  color: #45688e ;
}

.social-buttons__ok {
  background-color: #f2720c;
  transform: color;
  transition: 0.5s;
}

.social-buttons__ok:hover {
  color: #f2720c ;
}

.social-buttons__fb {
  background-color: #3a5795;
  transform: color;
  transition: 0.5s;
}

.social-buttons__fb:hover {
  color: #3a5795 ;
}

.social-buttons__twitter {
  background-color: #55acee;
  transform: color;
  transition: 0.5s;
}

.social-buttons__twitter:hover {
  color: #55acee ;
}

.social-buttons__google {
  background-color: #d73d32;
  transform: color;
  transition: 0.5s;
}

.social-buttons__google:hover {
  color: #d73d32 ;
}


/*ANIM*/
[data-aos="new-animation"] {
  transform: translateY(600px) rotateX(30deg) scale(0);
  transform-origin: 50% 100%;
}
[data-aos="new-animation"].aos-animate {
transform: translateY(0) rotateX(0) scale(1);
transform-origin: 50% -1400px;
}


@media only screen and (max-width: 1200px) {
  .blog-home {
    grid-template-columns: repeat(3, 1fr);
  }
  .blog-home .buttoncase {
    grid-column: 1/4;
  }
  .blog-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1;
  }
  .blog-item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2;
  }
}
@media only screen and (max-width: 992px) {
  .button {
    font-size: 1.125em;
  }
  .buttoncase {
    grid-column: 1/4;
  }
  .header-content h1 {
    font-size: 3em;
    line-height: 1.3;
  }
  .portfolio-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-ready .container {
    grid-template-columns: 1fr;
    text-align: justify;
  }

  .section-ready .container > div.ready-left {
    border: none;
  }
  .portfolio-item {
    min-height: 40vh;
    font-size: 1em;
  }
  .portfolio-item:nth-child(4) {
    grid-column: 2/4;
  }
  .portfolio-item:nth-child(5) {
    grid-column: 1/3;
    grid-row: initial;
  }
  .portfolio-item:nth-child(6) {
    grid-column: initial;
    grid-row: initial;
  }
  .blog-home {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-home .buttoncase {
    grid-column: 1/3;
  }
  .footer_conteiner{
    display: grid;
    grid-template-columns:  32% 32% 20.3%;
    width: 100%;
    padding: 0;
    margin: 0.4em 0 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .header-content {
    padding: 2.5em 1.25em;
  }
  .header-content h1 {
    font-size: 3em;
  }
  .landing-section {
    padding: 3em 0;
  }
  .landing-section h2 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 1.6em;
  }
  .section-ready .container {
    grid-template-columns: 1fr;
  }
  .section-ready .container img {
    width: 100%;
    height: 100%;
  }
  .section-ready .container > div {
    padding: 0 8%;
  }
  .section-ready .container > div.ready-left {
    border: none;
  }

  .blog-home {
    grid-template-columns: 1fr;
  }
  .blog-home .buttoncase {
    grid-column: 1/2;
  }
  .blog-item:nth-child(3) {
    grid-column: initial;
  }
  .blog-item:nth-child(4) {
    grid-column: initial;
  }
  .footer_conteiner{
    display:block;
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
  }
    div.about_up{
  padding-left:  0%;
  }
  .contect{
     justify-content: center;
  }
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
@media only screen and (max-width: 480px) {
  .header-content h1 {
    font-size: 2.5em;
  }
  .portfolio-section {
    grid-template-columns: 1fr;
  }
  .portfolio-item {
    min-height: 50vh;
  }
  .portfolio-item:nth-child(1) {
    grid-column: initial;
  }
  .portfolio-item:nth-child(4) {
    grid-column: initial;
  }
  .portfolio-item:nth-child(5) {
    grid-column: initial;
  }
  .buttoncase {
    grid-column: 1/2;
  }
  .menu-wrap .hamburger {
  width: 3.5em;
  height: 3.5em;
}
}
 
/** * Modal */
 
